<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruicai.edu.dao.TeacherDao">
	<!-- 通过反射获得接口方法实现 -->
	<!-- 如果通过反射细线，则 增删改查标签id只能和接口中方法名相同 -->
	<!-- parameterType 参数的类型可以是基本数据类型，传入的参数类型相同；如果参数是引用类型，则写类的全路径 -->
	<!-- resultType 如果是基本数据类型（int），则查询出来的字段是一个,如果是集合，可以不写  -->
	<!-- sql中的占位符根据传入的参数类型取名，如果是map类型，则要和键名相同，如果是对象类型，要和对象中的属性相同 -->
  
   <select id="getSumTeachersCount" resultType="int">
     select count(*) from teacher 
   </select>
   <select id="checkTeacherLoginName" parameterType="java.lang.String" resultType="int">
     select count(*) from teacher where t_account=#{loginName} 
   </select>
   <select id="queryNextID"  resultType="int">
     select TEACHER_SEQUENCES.nextval from dual
   </select>
   <select id="getTeacherByID"  parameterType="java.lang.Integer" resultType="com.ruicai.edu.entity.Teacher">
     select * from teacher where t_id=#{id}
   </select>
   <select id="loadAllteachersForSelect"   resultType="com.ruicai.edu.entity.Teacher">
     select t_id,t_name from teacher where (t_class is not null) or t_leixing='班主任'
   </select>
   
   <select id="loadTeachersByPages"  parameterType="java.util.Map" resultType="com.ruicai.edu.entity.Teacher">
       SELECT * FROM(SELECT A.*, ROWNUM RN FROM (SELECT * FROM teacher) A WHERE ROWNUM  &lt;= #{endNum}) WHERE RN  &gt;= #{startNum}
   </select>
    <select id="loadTeachersByStudentID"  parameterType="java.lang.Integer" resultType="com.ruicai.edu.entity.Teacher">
      select * from  teacher t where t_id in(select r_tid from relation where r_sid=#{studentID})
   </select>
   <select id="loadTeachersByFilter"  parameterType="java.util.Map" resultType="com.ruicai.edu.entity.Teacher">
     select * from teacher where 1=1 
     <if test="teacherName!=null and teacherName!='%%'">
       and t_name like #{teacherName} 
     </if>
     <if test="ZY!=null and ZY!=''">
       and t_zhuanYe=#{ZY} 
     </if>
     <if test="LX!=null and LX!=''">
       and t_leiXing=#{LX} 
     </if>
   </select>
   
   <insert id="addTeacher" parameterType="com.ruicai.edu.entity.Teacher" >
     insert into teacher(t_id,t_name,t_sex,t_jianjie,t_photo,t_account,t_pass,t_zhuanye,t_leixing,t_phone) 
     values(#{t_id},#{t_name},#{t_sex},#{t_jianJie},#{t_photo},#{t_account},#{t_pass},#{t_zhuanYe},#{t_leiXing},#{t_phone})
   </insert>
   <update id="updateTeacher" parameterType="com.ruicai.edu.entity.Teacher" >
     update teacher set t_name=#{t_name},t_sex=#{t_sex},t_jianJie=#{t_jianJie},t_photo=#{t_photo},t_account=#{t_account},
                        t_pass=#{t_pass},t_zhuanYe=#{t_zhuanYe},t_leiXing=#{t_leiXing},t_phone=#{t_phone},t_class=#{t_class}
     where  t_id=#{t_id}                
   </update>
   <delete id="deleteTeacher" >
        delete from teacher where t_id in 
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")"> 
            #{item} 
        </foreach> 
   </delete>
   <select id = "login" parameterType="com.ruicai.edu.entity.Teacher" resultType="com.ruicai.edu.entity.Teacher">
      select * from teacher t where t.t_account = #{t_account} and t.t_pass = #{t_pass}
   </select>
</mapper>