<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="successUrl" value="http://localhost:8080/teaching/"></property>
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="https://localhost:8443/cas/login?service=http://localhost:8080/education/"/>
        <property name="filters">
            <map>
                <entry key="cas" value-ref="casFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                / = cas
                /** = user
            </value>
        </property>
    </bean>

    <bean id="casRealm" class="com.ruicai.teaching.controller.customRealm.CasRealm">
        <property name="casServerUrlPrefix" value="https://localhost:8443/cas"/>
        <property name="casService" value="http://localhost:8080/teaching/"/>
    </bean>

    <bean id="casFilter" class="org.apache.shiro.cas.CasFilter"/>

    <bean id="casSubjectFactory" class="org.apache.shiro.cas.CasSubjectFactory"/>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="casRealm"/>
        <property name="subjectFactory" ref="casSubjectFactory"/>
    </bean>

</beans>