<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruicai.edu.dao.EvaluateDao">
	<!-- 通过反射获得接口方法实现 -->
	<!-- 如果通过反射细线，则 增删改查标签id只能和接口中方法名相同 -->
	<!-- parameterType 参数的类型可以是基本数据类型，传入的参数类型相同；如果参数是引用类型，则写类的全路径 -->
	<!-- resultType 如果是基本数据类型（int），则查询出来的字段是一个,如果是集合，可以不写  -->
	<!-- sql中的占位符根据传入的参数类型取名，如果是map类型，则要和键名相同，如果是对象类型，要和对象中的属性相同 -->
	<!-- 查找所有评价信息 -->
	
	<select id="queryEvaluateList" resultType="com.ruicai.edu.entity.Evaluate">
		select * from evaluate order by e_id 
	</select>
	<select id="queryEvaluateListByTeacherID"  resultType="com.ruicai.edu.entity.Evaluate">
		select * from evaluate where e_type=0 or e_type=( select decode(t_leixing,'高级讲师',1,'班主任',2,'助教',3) from teacher where t_id=#{id}) and e_use=1 
	</select>
	<!-- 删除评价项信息-->
	<delete id="deleteEvaluate">
        delete from evaluate where e_id in 
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")"> 
            #{item}
        </foreach> 
   </delete>
   <!-- 添加评分项信息  -->
   <insert id="addEvaluate" parameterType="com.ruicai.edu.entity.Evaluate" >
    	insert into evaluate(e_id,e_name,e_use,e_type) values(evaluate_SEQUENCES.nextval,#{e_name},#{e_use},#{e_type})
   </insert>
  
  	<!-- 修改评分项嘻嘻 -->
  	<update id="updateEvaluate" parameterType="com.ruicai.edu.entity.Evaluate">
  		update evaluate set e_name=#{e_name},e_use=#{e_use},e_type=#{e_type} where e_id = #{e_id}
  	</update>
</mapper>