<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ruicai.edu.dao.StudentDao">
   <select id="selectAllStudent"  resultType="com.ruicai.edu.entity.Student" >
     select  s_id, s_account,s_pass,s_name, s_sex ,s_class from student
   </select>
  <select id="selectStudentsByTeacherid"  resultType="com.ruicai.edu.entity.Student" >
     select * from student where s_class=(select t_class from teacher where t_id=#{id} ) 
   </select>
  
  <select id="selectStudentOne"  parameterType="String" resultType="com.ruicai.edu.entity.Student">
    select  s_id, s_account,s_pass,s_name, s_sex ,s_class from student  where s_name  LIKE CONCAT(CONCAT('%', #{s_name}), '%')
  </select>
<select id="selectStudentAccount"  parameterType="String" resultType="int">
    select   count(*) from student where s_account =#{saccount}
  </select>
  
  <delete id="deleteStudent" >
        delete from student where s_id in 
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")"> 
            #{item} 
        </foreach> 
   </delete>
    
  <insert id="insertStudent" parameterType="com.ruicai.edu.entity.Student">
 insert into student (s_id,s_account,s_pass,s_name, s_sex,s_class)
   values(student_SEQUENCES.Nextval,#{s_account},#{s_pass},#{s_name},#{s_sex},#{s_class}) 
  </insert>
  
  <update id="updateStudent"    parameterType="com.ruicai.edu.entity.Student" >
      update  student set s_account=#{s_account},s_pass=#{s_pass},s_name=#{s_name}, s_sex=#{s_sex},s_class=#{s_class} where s_id=#{s_id}
      
  </update>
  <select id="login" parameterType="com.ruicai.edu.entity.Student" resultType="com.ruicai.edu.entity.Student">
    select * from student s where s.s_account = #{s_account} and s.s_pass = #{s_pass}
  </select>
  
  
</mapper>