<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruicai.teaching.mapper.EvaMessageMapper">
    <resultMap id="BaseResultMap" type="com.ruicai.teaching.po.EvaMessage">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="MESSAGE_FROM" jdbcType="VARCHAR" property="messageFrom"/>
        <result column="MESSAGE_TO" jdbcType="VARCHAR" property="messageTo"/>
        <result column="MESSAGE_STATUS" jdbcType="VARCHAR" property="messageStatus"/>
        <result column="MESSAGE_TIME" jdbcType="TIMESTAMP" property="messageTime"/>
        <result column="MESSAGE_CONTENT" jdbcType="VARCHAR" property="messageContent"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, PARENT_ID, MESSAGE_FROM, MESSAGE_TO, MESSAGE_STATUS, MESSAGE_TIME, MESSAGE_CONTENT
  </sql>
    <select id="selectByExample" parameterType="com.ruicai.teaching.po.EvaMessageExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from RCJX.EVA_MESSAGE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from RCJX.EVA_MESSAGE
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RCJX.EVA_MESSAGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ruicai.teaching.po.EvaMessageExample">
        delete from RCJX.EVA_MESSAGE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ruicai.teaching.po.EvaMessage">
    insert into RCJX.EVA_MESSAGE (ID, PARENT_ID, MESSAGE_FROM, 
      MESSAGE_TO, MESSAGE_STATUS, MESSAGE_TIME, 
      MESSAGE_CONTENT)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{messageFrom,jdbcType=VARCHAR}, 
      #{messageTo,jdbcType=VARCHAR}, #{messageStatus,jdbcType=VARCHAR}, #{messageTime,jdbcType=TIMESTAMP}, 
      #{messageContent,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ruicai.teaching.po.EvaMessage">
        insert into RCJX.EVA_MESSAGE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="messageFrom != null">
                MESSAGE_FROM,
            </if>
            <if test="messageTo != null">
                MESSAGE_TO,
            </if>
            <if test="messageStatus != null">
                MESSAGE_STATUS,
            </if>
            <if test="messageTime != null">
                MESSAGE_TIME,
            </if>
            <if test="messageContent != null">
                MESSAGE_CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="messageFrom != null">
                #{messageFrom,jdbcType=VARCHAR},
            </if>
            <if test="messageTo != null">
                #{messageTo,jdbcType=VARCHAR},
            </if>
            <if test="messageStatus != null">
                #{messageStatus,jdbcType=VARCHAR},
            </if>
            <if test="messageTime != null">
                #{messageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="messageContent != null">
                #{messageContent,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ruicai.teaching.po.EvaMessageExample" resultType="java.lang.Integer">
        select count(*) from RCJX.EVA_MESSAGE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update RCJX.EVA_MESSAGE
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.parentId != null">
                PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
            </if>
            <if test="record.messageFrom != null">
                MESSAGE_FROM = #{record.messageFrom,jdbcType=VARCHAR},
            </if>
            <if test="record.messageTo != null">
                MESSAGE_TO = #{record.messageTo,jdbcType=VARCHAR},
            </if>
            <if test="record.messageStatus != null">
                MESSAGE_STATUS = #{record.messageStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.messageTime != null">
                MESSAGE_TIME = #{record.messageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.messageContent != null">
                MESSAGE_CONTENT = #{record.messageContent,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update RCJX.EVA_MESSAGE
        set ID = #{record.id,jdbcType=VARCHAR},
        PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
        MESSAGE_FROM = #{record.messageFrom,jdbcType=VARCHAR},
        MESSAGE_TO = #{record.messageTo,jdbcType=VARCHAR},
        MESSAGE_STATUS = #{record.messageStatus,jdbcType=VARCHAR},
        MESSAGE_TIME = #{record.messageTime,jdbcType=TIMESTAMP},
        MESSAGE_CONTENT = #{record.messageContent,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.teaching.po.EvaMessage">
        update RCJX.EVA_MESSAGE
        <set>
            <if test="parentId != null">
                PARENT_ID = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="messageFrom != null">
                MESSAGE_FROM = #{messageFrom,jdbcType=VARCHAR},
            </if>
            <if test="messageTo != null">
                MESSAGE_TO = #{messageTo,jdbcType=VARCHAR},
            </if>
            <if test="messageStatus != null">
                MESSAGE_STATUS = #{messageStatus,jdbcType=VARCHAR},
            </if>
            <if test="messageTime != null">
                MESSAGE_TIME = #{messageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="messageContent != null">
                MESSAGE_CONTENT = #{messageContent,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruicai.teaching.po.EvaMessage">
    update RCJX.EVA_MESSAGE
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      MESSAGE_FROM = #{messageFrom,jdbcType=VARCHAR},
      MESSAGE_TO = #{messageTo,jdbcType=VARCHAR},
      MESSAGE_STATUS = #{messageStatus,jdbcType=VARCHAR},
      MESSAGE_TIME = #{messageTime,jdbcType=TIMESTAMP},
      MESSAGE_CONTENT = #{messageContent,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>