<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruicai.teaching.dao.ExamPaperMapper">
    <resultMap id="BaseResultMap" type="com.ruicai.teaching.entity.ExamPaper">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="PAPER_STAGE" jdbcType="VARCHAR" property="paperStage"/>
        <result column="PAPER_SUBJECT" jdbcType="VARCHAR" property="paperSubject"/>
        <result column="PAPER_STATUS" jdbcType="VARCHAR" property="paperStatus"/>
        <result column="PAPER_AUTHOR" jdbcType="VARCHAR" property="paperAuthor"/>
        <result column="PAPER_TITLE" jdbcType="VARCHAR" property="paperTitle"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, PAPER_STAGE, PAPER_SUBJECT, PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
  </sql>
    <select id="selectByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RCJX.EXAM_PAPER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample">
        delete from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ruicai.teaching.entity.ExamPaper">
    insert into RCJX.EXAM_PAPER (ID, PAPER_STAGE, PAPER_SUBJECT, 
      PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
      )
    values (#{id,jdbcType=VARCHAR}, #{paperStage,jdbcType=VARCHAR}, #{paperSubject,jdbcType=VARCHAR}, 
      #{paperStatus,jdbcType=VARCHAR}, #{paperAuthor,jdbcType=VARCHAR}, #{paperTitle,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        insert into RCJX.EXAM_PAPER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="paperStage != null">
                PAPER_STAGE,
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT,
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS,
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR,
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="paperStage != null">
                #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                #{paperTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultType="java.lang.Integer">
        select count(*) from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update RCJX.EXAM_PAPER
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStage != null">
                PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
            </if>
            <if test="record.paperSubject != null">
                PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStatus != null">
                PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.paperAuthor != null">
                PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="record.paperTitle != null">
                PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update RCJX.EXAM_PAPER
        set ID = #{record.id,jdbcType=VARCHAR},
        PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
        PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
        PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
        PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
        PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        update RCJX.EXAM_PAPER
        <set>
            <if test="paperStage != null">
                PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruicai.teaching.entity.ExamPaper">
    update RCJX.EXAM_PAPER
    set PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
      PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
      PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
      PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
      PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <resultMap id="BaseResultMap" type="com.ruicai.teaching.entity.ExamPaper">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="PAPER_STAGE" jdbcType="VARCHAR" property="paperStage"/>
        <result column="PAPER_SUBJECT" jdbcType="VARCHAR" property="paperSubject"/>
        <result column="PAPER_STATUS" jdbcType="VARCHAR" property="paperStatus"/>
        <result column="PAPER_AUTHOR" jdbcType="VARCHAR" property="paperAuthor"/>
        <result column="PAPER_TITLE" jdbcType="VARCHAR" property="paperTitle"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, PAPER_STAGE, PAPER_SUBJECT, PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
  </sql>
    <select id="selectByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RCJX.EXAM_PAPER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample">
        delete from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ruicai.teaching.entity.ExamPaper">
    insert into RCJX.EXAM_PAPER (ID, PAPER_STAGE, PAPER_SUBJECT, 
      PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
      )
    values (#{id,jdbcType=VARCHAR}, #{paperStage,jdbcType=VARCHAR}, #{paperSubject,jdbcType=VARCHAR}, 
      #{paperStatus,jdbcType=VARCHAR}, #{paperAuthor,jdbcType=VARCHAR}, #{paperTitle,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        insert into RCJX.EXAM_PAPER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="paperStage != null">
                PAPER_STAGE,
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT,
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS,
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR,
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="paperStage != null">
                #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                #{paperTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultType="java.lang.Integer">
        select count(*) from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update RCJX.EXAM_PAPER
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStage != null">
                PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
            </if>
            <if test="record.paperSubject != null">
                PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStatus != null">
                PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.paperAuthor != null">
                PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="record.paperTitle != null">
                PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update RCJX.EXAM_PAPER
        set ID = #{record.id,jdbcType=VARCHAR},
        PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
        PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
        PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
        PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
        PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        update RCJX.EXAM_PAPER
        <set>
            <if test="paperStage != null">
                PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruicai.teaching.entity.ExamPaper">
    update RCJX.EXAM_PAPER
    set PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
      PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
      PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
      PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
      PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <resultMap id="BaseResultMap" type="com.ruicai.teaching.entity.ExamPaper">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="PAPER_STAGE" jdbcType="VARCHAR" property="paperStage"/>
        <result column="PAPER_SUBJECT" jdbcType="VARCHAR" property="paperSubject"/>
        <result column="PAPER_STATUS" jdbcType="VARCHAR" property="paperStatus"/>
        <result column="PAPER_AUTHOR" jdbcType="VARCHAR" property="paperAuthor"/>
        <result column="PAPER_TITLE" jdbcType="VARCHAR" property="paperTitle"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, PAPER_STAGE, PAPER_SUBJECT, PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
  </sql>
    <select id="selectByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RCJX.EXAM_PAPER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample">
        delete from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ruicai.teaching.entity.ExamPaper">
    insert into RCJX.EXAM_PAPER (ID, PAPER_STAGE, PAPER_SUBJECT, 
      PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
      )
    values (#{id,jdbcType=VARCHAR}, #{paperStage,jdbcType=VARCHAR}, #{paperSubject,jdbcType=VARCHAR}, 
      #{paperStatus,jdbcType=VARCHAR}, #{paperAuthor,jdbcType=VARCHAR}, #{paperTitle,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        insert into RCJX.EXAM_PAPER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="paperStage != null">
                PAPER_STAGE,
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT,
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS,
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR,
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="paperStage != null">
                #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                #{paperTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultType="java.lang.Integer">
        select count(*) from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update RCJX.EXAM_PAPER
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStage != null">
                PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
            </if>
            <if test="record.paperSubject != null">
                PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStatus != null">
                PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.paperAuthor != null">
                PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="record.paperTitle != null">
                PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update RCJX.EXAM_PAPER
        set ID = #{record.id,jdbcType=VARCHAR},
        PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
        PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
        PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
        PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
        PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        update RCJX.EXAM_PAPER
        <set>
            <if test="paperStage != null">
                PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruicai.teaching.entity.ExamPaper">
    update RCJX.EXAM_PAPER
    set PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
      PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
      PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
      PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
      PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <resultMap id="BaseResultMap" type="com.ruicai.teaching.entity.ExamPaper">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="PAPER_STAGE" jdbcType="VARCHAR" property="paperStage"/>
        <result column="PAPER_SUBJECT" jdbcType="VARCHAR" property="paperSubject"/>
        <result column="PAPER_STATUS" jdbcType="VARCHAR" property="paperStatus"/>
        <result column="PAPER_AUTHOR" jdbcType="VARCHAR" property="paperAuthor"/>
        <result column="PAPER_TITLE" jdbcType="VARCHAR" property="paperTitle"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, PAPER_STAGE, PAPER_SUBJECT, PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
  </sql>
    <select id="selectByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RCJX.EXAM_PAPER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample">
        delete from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ruicai.teaching.entity.ExamPaper">
    insert into RCJX.EXAM_PAPER (ID, PAPER_STAGE, PAPER_SUBJECT, 
      PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
      )
    values (#{id,jdbcType=VARCHAR}, #{paperStage,jdbcType=VARCHAR}, #{paperSubject,jdbcType=VARCHAR}, 
      #{paperStatus,jdbcType=VARCHAR}, #{paperAuthor,jdbcType=VARCHAR}, #{paperTitle,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        insert into RCJX.EXAM_PAPER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="paperStage != null">
                PAPER_STAGE,
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT,
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS,
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR,
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="paperStage != null">
                #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                #{paperTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultType="java.lang.Integer">
        select count(*) from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update RCJX.EXAM_PAPER
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStage != null">
                PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
            </if>
            <if test="record.paperSubject != null">
                PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStatus != null">
                PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.paperAuthor != null">
                PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="record.paperTitle != null">
                PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update RCJX.EXAM_PAPER
        set ID = #{record.id,jdbcType=VARCHAR},
        PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
        PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
        PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
        PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
        PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        update RCJX.EXAM_PAPER
        <set>
            <if test="paperStage != null">
                PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruicai.teaching.entity.ExamPaper">
    update RCJX.EXAM_PAPER
    set PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
      PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
      PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
      PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
      PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <resultMap id="BaseResultMap" type="com.ruicai.teaching.entity.ExamPaper">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="PAPER_STAGE" jdbcType="VARCHAR" property="paperStage"/>
        <result column="PAPER_SUBJECT" jdbcType="VARCHAR" property="paperSubject"/>
        <result column="PAPER_STATUS" jdbcType="VARCHAR" property="paperStatus"/>
        <result column="PAPER_AUTHOR" jdbcType="VARCHAR" property="paperAuthor"/>
        <result column="PAPER_TITLE" jdbcType="VARCHAR" property="paperTitle"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, PAPER_STAGE, PAPER_SUBJECT, PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
  </sql>
    <select id="selectByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from RCJX.EXAM_PAPER
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RCJX.EXAM_PAPER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample">
        delete from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ruicai.teaching.entity.ExamPaper">
    insert into RCJX.EXAM_PAPER (ID, PAPER_STAGE, PAPER_SUBJECT, 
      PAPER_STATUS, PAPER_AUTHOR, PAPER_TITLE
      )
    values (#{id,jdbcType=VARCHAR}, #{paperStage,jdbcType=VARCHAR}, #{paperSubject,jdbcType=VARCHAR}, 
      #{paperStatus,jdbcType=VARCHAR}, #{paperAuthor,jdbcType=VARCHAR}, #{paperTitle,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        insert into RCJX.EXAM_PAPER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="paperStage != null">
                PAPER_STAGE,
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT,
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS,
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR,
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="paperStage != null">
                #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                #{paperTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ruicai.teaching.entity.ExamPaperExample" resultType="java.lang.Integer">
        select count(*) from RCJX.EXAM_PAPER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update RCJX.EXAM_PAPER
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStage != null">
                PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
            </if>
            <if test="record.paperSubject != null">
                PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="record.paperStatus != null">
                PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.paperAuthor != null">
                PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="record.paperTitle != null">
                PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update RCJX.EXAM_PAPER
        set ID = #{record.id,jdbcType=VARCHAR},
        PAPER_STAGE = #{record.paperStage,jdbcType=VARCHAR},
        PAPER_SUBJECT = #{record.paperSubject,jdbcType=VARCHAR},
        PAPER_STATUS = #{record.paperStatus,jdbcType=VARCHAR},
        PAPER_AUTHOR = #{record.paperAuthor,jdbcType=VARCHAR},
        PAPER_TITLE = #{record.paperTitle,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.teaching.entity.ExamPaper">
        update RCJX.EXAM_PAPER
        <set>
            <if test="paperStage != null">
                PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
            </if>
            <if test="paperSubject != null">
                PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
            </if>
            <if test="paperStatus != null">
                PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
            </if>
            <if test="paperAuthor != null">
                PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
            </if>
            <if test="paperTitle != null">
                PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruicai.teaching.entity.ExamPaper">
    update RCJX.EXAM_PAPER
    set PAPER_STAGE = #{paperStage,jdbcType=VARCHAR},
      PAPER_SUBJECT = #{paperSubject,jdbcType=VARCHAR},
      PAPER_STATUS = #{paperStatus,jdbcType=VARCHAR},
      PAPER_AUTHOR = #{paperAuthor,jdbcType=VARCHAR},
      PAPER_TITLE = #{paperTitle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>