<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruicai.teaching.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.ruicai.teaching.po.SysUser">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="USER_STATUS" jdbcType="VARCHAR" property="userStatus"/>
        <result column="USER_TYPE" jdbcType="VARCHAR" property="userType"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd"/>
        <result column="USER_NUMBER" jdbcType="VARCHAR" property="userNumber"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, USER_STATUS, USER_TYPE, USER_NAME, USER_PWD, USER_NUMBER
  </sql>
    <select id="selectByExample" parameterType="com.ruicai.teaching.po.SysUserExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from RCJX.SYS_USER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from RCJX.SYS_USER
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RCJX.SYS_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ruicai.teaching.po.SysUserExample">
        delete from RCJX.SYS_USER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ruicai.teaching.po.SysUser">
    insert into RCJX.SYS_USER (ID, USER_STATUS, USER_TYPE, 
      USER_NAME, USER_PWD, USER_NUMBER
      )
    values (#{id,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{userNumber,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ruicai.teaching.po.SysUser">
        insert into RCJX.SYS_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userStatus != null">
                USER_STATUS,
            </if>
            <if test="userType != null">
                USER_TYPE,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="userPwd != null">
                USER_PWD,
            </if>
            <if test="userNumber != null">
                USER_NUMBER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userNumber != null">
                #{userNumber,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ruicai.teaching.po.SysUserExample" resultType="java.lang.Integer">
        select count(*) from RCJX.SYS_USER
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update RCJX.SYS_USER
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.userStatus != null">
                USER_STATUS = #{record.userStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.userType != null">
                USER_TYPE = #{record.userType,jdbcType=VARCHAR},
            </if>
            <if test="record.userName != null">
                USER_NAME = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.userPwd != null">
                USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
            </if>
            <if test="record.userNumber != null">
                USER_NUMBER = #{record.userNumber,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update RCJX.SYS_USER
        set ID = #{record.id,jdbcType=VARCHAR},
        USER_STATUS = #{record.userStatus,jdbcType=VARCHAR},
        USER_TYPE = #{record.userType,jdbcType=VARCHAR},
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
        USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
        USER_NUMBER = #{record.userNumber,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.teaching.po.SysUser">
        update RCJX.SYS_USER
        <set>
            <if test="userStatus != null">
                USER_STATUS = #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                USER_TYPE = #{userType,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                USER_PWD = #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userNumber != null">
                USER_NUMBER = #{userNumber,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruicai.teaching.po.SysUser">
    update RCJX.SYS_USER
    set USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      USER_NUMBER = #{userNumber,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>