<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruicai.education.mapper.education.EducationTeacherMapper" >
  <resultMap id="BaseResultMap" type="com.ruicai.education.po.education.EducationTeacher" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TEACHER_TYPE" property="teacherType" jdbcType="VARCHAR" />
    <result column="TEACHER_SPECIALITY" property="teacherSpeciality" jdbcType="VARCHAR" />
    <result column="TEACHER_SEX" property="teacherSex" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="TEACHER_SEX_VIEW" property="teacherSexView" jdbcType="VARCHAR"/>
    <result column="TEACHER_SPECIALITY_VIEW" property="teacherSpecialityView" jdbcType="VARCHAR"/>
    <result column="TEACHER_TYPE_VIEW" property="teacherTypeView" jdbcType="VARCHAR"/>
    <result column="TEACHER_PHONE" property="teacherPhone" jdbcType="VARCHAR" />
    <result column="TEACHER_INTRODUCTION" property="teacherIntroduction" jdbcType="VARCHAR" />
    <result column="TEACHER_PICTURE" property="teacherPicture" jdbcType="VARCHAR" />
    <collection property="roles" javaType="list" ofType="com.ruicai.education.po.education.UserToRoleKey">
      <id column="USER_ID" property="userId" jdbcType="VARCHAR"/>
      <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    ID, USER_ID, TEACHER_TYPE, TEACHER_SPECIALITY, TEACHER_SEX, TEACHER_NAME, TEACHER_PHONE, 
    TEACHER_INTRODUCTION, TEACHER_PICTURE
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from RUICAI.EDUCATION_TEACHER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RUICAI.EDUCATION_TEACHER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.ruicai.education.po.education.EducationTeacher" >
    <selectKey keyProperty="id" keyColumn="ID" resultType="string" order="BEFORE">
      select sys_guid() from dual
    </selectKey>
    insert into RUICAI.EDUCATION_TEACHER (ID, USER_ID, TEACHER_TYPE,
      TEACHER_SPECIALITY, TEACHER_SEX, TEACHER_NAME, 
      TEACHER_PHONE, TEACHER_INTRODUCTION, TEACHER_PICTURE
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{teacherType,jdbcType=VARCHAR},
      #{teacherSpeciality,jdbcType=VARCHAR}, #{teacherSex,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, 
      #{teacherPhone,jdbcType=VARCHAR}, #{teacherIntroduction,jdbcType=VARCHAR}, #{teacherPicture,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruicai.education.po.education.EducationTeacher" >
    insert into RUICAI.EDUCATION_TEACHER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="teacherType != null" >
        TEACHER_TYPE,
      </if>
      <if test="teacherSpeciality != null" >
        TEACHER_SPECIALITY,
      </if>
      <if test="teacherSex != null" >
        TEACHER_SEX,
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME,
      </if>
      <if test="teacherPhone != null" >
        TEACHER_PHONE,
      </if>
      <if test="teacherIntroduction != null" >
        TEACHER_INTRODUCTION,
      </if>
      <if test="teacherPicture != null" >
        TEACHER_PICTURE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="teacherType != null" >
        #{teacherType,jdbcType=VARCHAR},
      </if>
      <if test="teacherSpeciality != null" >
        #{teacherSpeciality,jdbcType=VARCHAR},
      </if>
      <if test="teacherSex != null" >
        #{teacherSex,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null" >
        #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherIntroduction != null" >
        #{teacherIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="teacherPicture != null" >
        #{teacherPicture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.education.po.education.EducationTeacher" >
    update RUICAI.EDUCATION_TEACHER
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="teacherType != null" >
        TEACHER_TYPE = #{teacherType,jdbcType=VARCHAR},
      </if>
      <if test="teacherSpeciality != null" >
        TEACHER_SPECIALITY = #{teacherSpeciality,jdbcType=VARCHAR},
      </if>
      <if test="teacherSex != null" >
        TEACHER_SEX = #{teacherSex,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null" >
        TEACHER_PHONE = #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherIntroduction != null" >
        TEACHER_INTRODUCTION = #{teacherIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="teacherPicture != null" >
        TEACHER_PICTURE = #{teacherPicture,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruicai.education.po.education.EducationTeacher" >
    update RUICAI.EDUCATION_TEACHER
    set USER_ID = #{userId,jdbcType=VARCHAR},
      TEACHER_TYPE = #{teacherType,jdbcType=VARCHAR},
      TEACHER_SPECIALITY = #{teacherSpeciality,jdbcType=VARCHAR},
      TEACHER_SEX = #{teacherSex,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      TEACHER_PHONE = #{teacherPhone,jdbcType=VARCHAR},
      TEACHER_INTRODUCTION = #{teacherIntroduction,jdbcType=VARCHAR},
      TEACHER_PICTURE = #{teacherPicture,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectTeaByConditionCount" parameterType="com.ruicai.education.po.education.TeacherCondition" resultType="int">
    select count(id) from EDUCATION_TEACHER
    <where>
      <if test="id != null and id != ''">
      id = #{id}
      </if>
      <if test="teacherType != null  ">
       and TEACHER_TYPE = #{teacherType}
      </if>
      <if test="teacherName != null and teacherName != ''">
        and TEACHER_NAME  like  '%${teacherName}%'
      </if>
    </where>
  </select>
  <select id="selectTeaByCondition" parameterType="com.ruicai.education.po.education.TeacherCondition"
          resultMap="BaseResultMap">

    SELECT
    *
    FROM
    (
    SELECT
    a1.*, ROWNUM rn
    FROM
    (SELECT
    et."ID",
    et.USER_ID,
    et.TEACHER_PHONE,
    et.TEACHER_INTRODUCTION,
    et.teacher_picture,
    et.TEACHER_NAME,
    et.TEACHER_SPECIALITY,
    et.TEACHER_SEX,
    et.TEACHER_TYPE,
    sd.DICTIONARY_NAME as TEACHER_SEX_VIEW,
    sd1.DICTIONARY_NAME as TEACHER_SPECIALITY_VIEW,
    sd2.DICTIONARY_NAME as TEACHER_TYPE_VIEW
    FROM
    (
    (
    (
    EDUCATION_TEACHER et
    JOIN SYSTEM_DICTIONARY sd ON ET.TEACHER_SEX = SD."ID"
    )
    JOIN SYSTEM_DICTIONARY sd1 ON ET.TEACHER_SPECIALITY = SD1."ID"
    )
    JOIN SYSTEM_DICTIONARY sd2 ON ET.TEACHER_TYPE = SD2."ID"
    )
      where ROWNUM &lt; #{endNum}
    <if test="id != null and id != ''">
      and id = #{id}
    </if>
    <if test="teacherType != null and teacherType != ''  ">
      and TEACHER_TYPE = #{teacherType}
    </if>
    <if test="teacherName != null and teacherName != ''">
      and TEACHER_NAME like '%${teacherName}%'
    </if>
    ) a1
    )
    WHERE
      rn &gt; #{startNum}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
      ID,
      TEACHER_NAME
    FROM education_teacher
  </select>

  <insert id="grantRole" parameterType="string">
    INSERT INTO USER_TO_ROLE VALUES (#{userId},#{roleId})
  </insert>

</mapper>