<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruicai.education.mapper.education.EducationWorkMapper" >
  <resultMap id="BaseResultMap" type="com.ruicai.education.po.education.EducationWork" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TEACHER_ID" property="teacherId" jdbcType="VARCHAR" />
    <result column="WORK_TYPE" property="workType" jdbcType="VARCHAR" />
    <result column="WORK_URL" property="workUrl" jdbcType="VARCHAR" />
    <result column="WORK_UPLOAD_TIME" property="workUploadTime" jdbcType="TIMESTAMP" />
    <result column="WORK_REMARK" property="workRemark" jdbcType="VARCHAR" />
    <result column="TEACHER_VIEW" property="teacherView" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TEACHER_ID, WORK_TYPE, WORK_URL, WORK_UPLOAD_TIME, WORK_REMARK
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from RUICAI.EDUCATION_WORK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RUICAI.EDUCATION_WORK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.ruicai.education.po.education.EducationWork" >
    insert into RUICAI.EDUCATION_WORK (ID, TEACHER_ID, WORK_TYPE, 
      WORK_URL, WORK_UPLOAD_TIME, WORK_REMARK
      )
    values (#{id,jdbcType=VARCHAR}, #{teacherId,jdbcType=VARCHAR}, #{workType,jdbcType=VARCHAR}, 
      #{workUrl,jdbcType=VARCHAR}, #{workUploadTime,jdbcType=TIMESTAMP}, #{workRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruicai.education.po.education.EducationWork" >
    insert into RUICAI.EDUCATION_WORK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="teacherId != null" >
        TEACHER_ID,
      </if>
      <if test="workType != null" >
        WORK_TYPE,
      </if>
      <if test="workUrl != null" >
        WORK_URL,
      </if>
      <if test="workUploadTime != null" >
        WORK_UPLOAD_TIME,
      </if>
      <if test="workRemark != null" >
        WORK_REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="workUrl != null" >
        #{workUrl,jdbcType=VARCHAR},
      </if>
      <if test="workUploadTime != null" >
        #{workUploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workRemark != null" >
        #{workRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.education.po.education.EducationWork" >
    update RUICAI.EDUCATION_WORK
    <set >
      <if test="teacherId != null" >
        TEACHER_ID = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        WORK_TYPE = #{workType,jdbcType=VARCHAR},
      </if>
      <if test="workUrl != null" >
        WORK_URL = #{workUrl,jdbcType=VARCHAR},
      </if>
      <if test="workUploadTime != null" >
        WORK_UPLOAD_TIME = #{workUploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="workRemark != null" >
        WORK_REMARK = #{workRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruicai.education.po.education.EducationWork" >
    update RUICAI.EDUCATION_WORK
    set TEACHER_ID = #{teacherId,jdbcType=VARCHAR},
      WORK_TYPE = #{workType,jdbcType=VARCHAR},
      WORK_URL = #{workUrl,jdbcType=VARCHAR},
      WORK_UPLOAD_TIME = #{workUploadTime,jdbcType=TIMESTAMP},
      WORK_REMARK = #{workRemark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectResBycondition" parameterType="com.ruicai.education.po.education.WorkCondition"
          resultMap="BaseResultMap">
    SELECT
    *
    FROM
    (
    SELECT
    A .*, ROWNUM rn
    FROM
    (
    SELECT
    EW."ID",
    EW.TEACHER_ID,
    EW.WORK_TYPE,
    EW.WORK_UPLOAD_TIME,
    EW.WORK_URL,
    ET.TEACHER_NAME AS TEACHER_VIEW
    FROM(
    EDUCATION_WORK EW
    JOIN SYSTEM_DICTIONARY sd ON EW.WORK_TYPE = SD."ID")
    JOIN EDUCATION_TEACHER et ON EW.TEACHER_ID = ET."ID"
    WHERE
    EW.WORK_TYPE = (
    SELECT
    "ID"
    FROM
    SYSTEM_DICTIONARY
    WHERE
    DICTIONARY_VALUE = #{workType}
    )
    AND ROWNUM &lt; #{endNum}

    <if test="teacherId != null and teacherId != '' ">
      AND TEACHER_ID = #{teacherId}
    </if>
    <if test="workUploadTime != null  and workUploadTime != ''">
      AND WORK_UPLOAD_TIME &gt; to_date(#{workUploadTime},'yyyy-mm-dd hh24:mi:ss')
    </if>
    ) A
    )
    WHERE
    rn &gt; #{startNum}
  </select>


  <select id="selectResByconditionCount" parameterType="com.ruicai.education.po.education.WorkCondition"
          resultType="int">
    SELECT
    "COUNT"(EW."ID")
    FROM

    EDUCATION_WORK ew
    JOIN SYSTEM_DICTIONARY sd ON EW.WORK_TYPE = SD."ID"
    WHERE
    EW.WORK_TYPE = (
    SELECT
    "ID"
    FROM
    SYSTEM_DICTIONARY
    WHERE
    DICTIONARY_VALUE = #{workType}
    )
    <if test="teacherId != null and teacherId != '' ">
      AND TEACHER_ID = #{teacherId}
    </if>
    <if test="workUploadTime != null  and workUploadTime != ''">
      AND WORK_UPLOAD_TIME &gt; to_date(#{workUploadTime},'yyyy-mm-dd hh24:mi:ss')
    </if>

  </select>


</mapper>