<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruicai.education.mapper.education.EducationClassMapper" >
  <resultMap id="BaseResultMap" type="com.ruicai.education.po.education.EducationClass" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="HEAD_TEACHER_ID" property="headTeacherId" jdbcType="VARCHAR" />
    <result column="MAIN_TEACHER_ID" property="mainTeacherId" jdbcType="VARCHAR" />
    <result column="ASSISTANT_ID" property="assistantId" jdbcType="VARCHAR" />
    <result column="CLASS_TYPE" property="classType" jdbcType="VARCHAR" />
    <result column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
    <result column="CLASS_START_DATE" property="classStartDate" jdbcType="TIMESTAMP" />
    <result column="CLASS_END_DATE" property="classEndDate" jdbcType="TIMESTAMP" />
    <result column="HEAD_TEACHER" property="headTeacher" jdbcType="VARCHAR"/>
    <result column="MAIN_TEACHER" property="mainTeacher" jdbcType="VARCHAR"/>
    <result column="CLASS_TYPE_VIEW" property="classTypeView" jdbcType="VARCHAR"/>
    <result column="ASSISTANT_VIEW" property="assistantView" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, HEAD_TEACHER_ID, MAIN_TEACHER_ID, ASSISTANT_ID, CLASS_TYPE, CLASS_NAME, CLASS_START_DATE, 
    CLASS_END_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ruicai.education.po.education.EducationClassExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from RUICAI.EDUCATION_CLASS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from RUICAI.EDUCATION_CLASS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RUICAI.EDUCATION_CLASS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruicai.education.po.education.EducationClassExample" >
    delete from RUICAI.EDUCATION_CLASS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruicai.education.po.education.EducationClass" >
      <selectKey order="BEFORE" keyColumn="ID" keyProperty="id" resultType="string">
          select sys_guid() from dual
      </selectKey>
    insert into RUICAI.EDUCATION_CLASS (ID, HEAD_TEACHER_ID, MAIN_TEACHER_ID, 
      ASSISTANT_ID, CLASS_TYPE, CLASS_NAME, 
      CLASS_START_DATE, CLASS_END_DATE)
    values (#{id,jdbcType=VARCHAR}, #{headTeacherId,jdbcType=VARCHAR}, #{mainTeacherId,jdbcType=VARCHAR}, 
      #{assistantId,jdbcType=VARCHAR}, #{classType,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, 
      #{classStartDate,jdbcType=TIMESTAMP}, #{classEndDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ruicai.education.po.education.EducationClass" >
    insert into RUICAI.EDUCATION_CLASS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="headTeacherId != null" >
        HEAD_TEACHER_ID,
      </if>
      <if test="mainTeacherId != null" >
        MAIN_TEACHER_ID,
      </if>
      <if test="assistantId != null" >
        ASSISTANT_ID,
      </if>
      <if test="classType != null" >
        CLASS_TYPE,
      </if>
      <if test="className != null" >
        CLASS_NAME,
      </if>
      <if test="classStartDate != null" >
        CLASS_START_DATE,
      </if>
      <if test="classEndDate != null" >
        CLASS_END_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="headTeacherId != null" >
        #{headTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="mainTeacherId != null" >
        #{mainTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="assistantId != null" >
        #{assistantId,jdbcType=VARCHAR},
      </if>
      <if test="classType != null" >
        #{classType,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="classStartDate != null" >
        #{classStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="classEndDate != null" >
        #{classEndDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruicai.education.po.education.EducationClassExample" resultType="java.lang.Integer" >
    select count(*) from RUICAI.EDUCATION_CLASS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update RUICAI.EDUCATION_CLASS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.headTeacherId != null" >
        HEAD_TEACHER_ID = #{record.headTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="record.mainTeacherId != null" >
        MAIN_TEACHER_ID = #{record.mainTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="record.assistantId != null" >
        ASSISTANT_ID = #{record.assistantId,jdbcType=VARCHAR},
      </if>
      <if test="record.classType != null" >
        CLASS_TYPE = #{record.classType,jdbcType=VARCHAR},
      </if>
      <if test="record.className != null" >
        CLASS_NAME = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.classStartDate != null" >
        CLASS_START_DATE = #{record.classStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classEndDate != null" >
        CLASS_END_DATE = #{record.classEndDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update RUICAI.EDUCATION_CLASS
    set ID = #{record.id,jdbcType=VARCHAR},
      HEAD_TEACHER_ID = #{record.headTeacherId,jdbcType=VARCHAR},
      MAIN_TEACHER_ID = #{record.mainTeacherId,jdbcType=VARCHAR},
      ASSISTANT_ID = #{record.assistantId,jdbcType=VARCHAR},
      CLASS_TYPE = #{record.classType,jdbcType=VARCHAR},
      CLASS_NAME = #{record.className,jdbcType=VARCHAR},
      CLASS_START_DATE = #{record.classStartDate,jdbcType=TIMESTAMP},
      CLASS_END_DATE = #{record.classEndDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruicai.education.po.education.EducationClass" >
    update RUICAI.EDUCATION_CLASS
    <set >
      <if test="headTeacherId != null" >
        HEAD_TEACHER_ID = #{headTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="mainTeacherId != null" >
        MAIN_TEACHER_ID = #{mainTeacherId,jdbcType=VARCHAR},
      </if>
      <if test="assistantId != null" >
        ASSISTANT_ID = #{assistantId,jdbcType=VARCHAR},
      </if>
      <if test="classType != null" >
        CLASS_TYPE = #{classType,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        CLASS_NAME = #{className,jdbcType=VARCHAR},
      </if>
      <if test="classStartDate != null" >
        CLASS_START_DATE = #{classStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="classEndDate != null" >
        CLASS_END_DATE = #{classEndDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruicai.education.po.education.EducationClass" >
    update RUICAI.EDUCATION_CLASS
    set HEAD_TEACHER_ID = #{headTeacherId,jdbcType=VARCHAR},
      MAIN_TEACHER_ID = #{mainTeacherId,jdbcType=VARCHAR},
      ASSISTANT_ID = #{assistantId,jdbcType=VARCHAR},
      CLASS_TYPE = #{classType,jdbcType=VARCHAR},
      CLASS_NAME = #{className,jdbcType=VARCHAR},
      CLASS_START_DATE = #{classStartDate,jdbcType=TIMESTAMP},
      CLASS_END_DATE = #{classEndDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectClassByType" parameterType="string" resultMap="BaseResultMap">
        SELECT *
        FROM EDUCATION_CLASS
        WHERE CLASS_TYPE = #{type}
    </select>

  <select id="selectByCondition" parameterType="com.ruicai.education.po.education.ClassCondition"
          resultMap="BaseResultMap">
    SELECT
    *
    FROM
    (
    SELECT
    A .*,
    ROWNUM rn
    FROM
    (
    SELECT
    EC."ID",
    ec.CLASS_START_DATE,
      ec.MAIN_TEACHER_ID,
      ec.ASSISTANT_ID,
      ec.HEAD_TEACHER_ID,
    ec.CLASS_NAME,
    ec.CLASS_TYPE,
    ec.CLASS_END_DATE,
    ET.TEACHER_NAME AS MAIN_TEACHER,
    ET1.TEACHER_NAME AS HEAD_TEACHER,
    et2.TEACHER_NAME AS ASSISTANT_VIEW,
    SD.DICTIONARY_NAME AS CLASS_TYPE_VIEW
    FROM
    (
    (
    (
    EDUCATION_CLASS ec
    JOIN EDUCATION_TEACHER et ON EC.MAIN_TEACHER_ID = ET."ID"
    )
    JOIN EDUCATION_TEACHER et1 ON ET1. ID = EC.HEAD_TEACHER_ID
    )
    JOIN EDUCATION_TEACHER et2 ON ET2."ID" = EC.ASSISTANT_ID
    )
    JOIN SYSTEM_DICTIONARY sd ON SD."ID" = EC.CLASS_TYPE
    WHERE
    ROWNUM &lt; #{endNum}

    <if test="classStartDate != null and classStartDate != ''">
      AND CLASS_START_DATE &gt; to_date(#{classStartDate},'yyyy-mm-dd hh24:mi:ss')
    </if>
      <if test="classEndDate != null and classEndDate != ''">
      AND CLASS_START_DATE &lt; to_date(#{classEndDate},'yyyy-mm-dd hh24:mi:ss')
    </if>
    ) A
    )
    WHERE
    rn &gt; #{startNum}
  </select>


  <select id="selectByConditionCount" parameterType="com.ruicai.education.po.education.ClassCondition" resultType="int">
    SELECT
    "COUNT" (EC."ID")
    FROM
    EDUCATION_CLASS ec
    <where>
      <if test="classStartDate != null and classStartDate != ''">
        CLASS_START_DATE &gt; to_date(#{classStartDate},'yyyy-mm-dd hh24:mi:ss')
      </if>
        <if test="classEndDate != null and classEndDate != ''">
        AND CLASS_START_DATE &lt; to_date(#{classEndDate},'yyyy-mm-dd hh24:mi:ss')
      </if>
    </where>
  </select>


</mapper>