<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruicai.evaluation.dao.MessageDao">
    <select id="findAll" resultType="Message">
        SELECT * FROM message
    </select>

    <delete id="deleteMessages" parameterType="int[]">
        <foreach collection="array" open="DELETE FROM message WHERE id in (" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="addMessage" parameterType="Message">
        INSERT INTO message (
        type,
        content,
        `from`,
        `to`,
        time
        )
        VALUES
        (
        1,
        '123456',
        'fsf',
        'ff',
        '2017-03-24'
        )
    </insert>
</mapper>
